<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>管理员账户管理</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/line-icons.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
<div class="app header-default side-nav-dark side-nav-folded" id="app">
    <div class="layout">
        <div class="header navbar">
            <div class="header-container">
                <div class="nav-logo">
                    <a href="index.html">
                        <b><img th:src="@{/img/logo.png}" alt=""></b>
                        <span class="logo">
                        <img th:src="@{/img/logo-text.png}" alt="">
                    </span>
                    </a>
                </div>
                <ul class="nav-left">
                    <li>
                        <a class="sidenav-fold-toggler" href="javascript:void(0);">
                            <i class="lni-menu"></i>
                        </a>
                        <a class="sidenav-expand-toggler" href="javascript:void(0);">
                            <i class="lni-menu"></i>
                        </a>
                    </li>
                </ul>
                <ul class="nav-right">
                    <!--显示用户信息-->
                    <li class="user-profile dropdown dropdown-animated scale-left">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="data2">
                            <img class="profile-img img-fluid" th:src="@{/File/defult.png}" alt="">
                        </a>
                        <ul class="dropdown-menu dropdown-md">
                            <li>
                                <ul class="list-media">
                                    <li class="list-item avatar-info">
                                        <div class="media-img">
                                            <img th:src="@{${message.getImg()}}" alt="">
                                        </div>
                                        <div class="info">
                                            <span class="title text-semibold" th:text="${message.getUserName()}"></span>
                                            <span class="sub-title"
                                                  th:text="${'创建时间：'+#dates.format(message.getCreatedTime(),'yyyy/MM/dd')}"></span>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a th:href="@{/logout}">
                                    <i class="lni-lock"></i>
                                    <span>注销</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="side-nav expand-lg">
            <div class="side-nav-inner">
                <ul class="side-nav-menu">
                    <li class="side-nav-header">
                        <span>网站导航栏</span>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="dropdown-toggle">
                            <span class="icon-holder">
                                <i class="lni-dashboard"></i>
                             </span>
                            <span class="title">网站信息</span>
                            <span class="arrow">
                                <i class="lni-chevron-right"></i>
                            </span>
                        </a>
                        <ul class="dropdown-menu sub-down">
                            <li>
                                <a th:href="@{/admin/index}">主页</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown open">
                        <a class="dropdown-toggle" href="#">
                             <span class="icon-holder">
                                 <i class="lni-files"></i>
                             </span>
                            <span class="title">账号管理</span>
                            <span class="arrow">
                                 <i class="lni-chevron-right"></i>
                             </span>
                        </a>
                        <ul class="dropdown-menu sub-down">
                            <li>
                                <a th:href="@{'/admin/userAccountManagement?pageNum=1'}">普通账号管理</a>
                            </li>
                            <li class="active">
                                <a th:href="@{'/admin/adminAccountManagement?pageNum=1'}">管理员账号管理</a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="#">
                            <span class="icon-holder">
                               <i class="lni-control-panel"></i>
                            </span>
                            <span class="title">文章管理</span>
                            <span class="arrow">
                                <i class="lni-chevron-right"></i>
                            </span>
                        </a>
                        <ul class="dropdown-menu sub-down">
                            <li>
                                <a th:href="@{${'/admin/articleManagement?pageNum=1'}}">文章管理</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="#">
                            <span class="icon-holder">
                               <i class="lni-control-panel"></i>
                            </span>
                            <span class="title">第三方管理工具</span>
                            <span class="arrow">
                                <i class="lni-chevron-right"></i>
                            </span>
                        </a>
                        <ul class="dropdown-menu sub-down">
                            <li>
                                <a th:href="@{'http://sms_developer.zhenzikj.com/zhenzisms_user/login.html'}"
                                   target="_blank">短信平台</a>
                            </li>
                            <li>
                                <a th:href="@{'http://localhost:8088/druid/index'}" target="_blank">Druid连接池</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="page-container">
            <div class="main-content">
                <div class="container-fluid">
                    <div class="breadcrumb-wrapper row">
                        <div class="col-12 col-lg-3 col-md-6">
                            <h4 class="page-title">管理员信息统计</h4>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header border-bottom">
                                    <h4 class="card-title">管理员账户信息</h4>
                                    <div class="float-right">
                                        <button type="button" class="btn btn-common waves-effect waves-light"
                                                data-toggle="modal" data-target=".bs-example-modal-center">
                                            添加管理员
                                        </button>
                                        <div class="modal fade bs-example-modal-center" tabindex="-1" role="dialog"
                                             aria-labelledby="mySmallModalLabel" style="display: none;"
                                             aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <form id="addAdmin">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">添加管理员</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-hidden="true">×
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-group">
                                                                <label>邮箱</label>
                                                                <input type="text" class="form-control form-control-lg"
                                                                       required
                                                                       placeholder="email" aria-label="email"
                                                                       name="email">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>用户名</label>
                                                                <input type="text" class="form-control" required
                                                                       name="userName"
                                                                       placeholder="userName" aria-label="userName">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>密码</label>
                                                                <input type="text" class="form-control form-control-sm"
                                                                       name="password" required
                                                                       placeholder="password" aria-label="password">
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-common">确认添加
                                                            </button>
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">取消
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table class="table table-bordered table-hover text-center">
                                        <thead class="thead-light">
                                        <tr>
                                            <th>邮箱</th>
                                            <th>用户名</th>
                                            <th>创建时间</th>
                                            <th>账户状态</th>
                                            <th>编辑账户</th>
                                        </tr>
                                        </thead>
                                        <tbody th:unless="${#lists.isEmpty(admins.getList())}">
                                        <tr th:each="admin : ${admins.getList()}">
                                            <td th:text="${admin.getEmail()}"></td>
                                            <td th:text="${admin.getUserName()}"></td>
                                            <td th:text="${#dates.format(admin.getCreatedTime(),'yyyy/MM/dd HH:mm:ss')}"></td>
                                            <td>
                                                <a href="javascript:void(0)" class="badge badge-success"
                                                   th:if="${admin.getStatus() == 1}">账号正常</a>
                                                <a href="javascript:void(0)" class="badge badge-danger"
                                                   th:if="${admin.getStatus() == 0}">账号锁定</a>
                                            </td>
                                            <td>
                                                <div class="dropdown m-b-10">
                                                    <button class="btn btn-common dropdown-toggle" type="button"
                                                            th:id="${admin.getUid()}" data-toggle="dropdown"
                                                            aria-haspopup="true"
                                                            aria-expanded="false">
                                                        编辑账户
                                                    </button>
                                                    <div class="dropdown-menu" th:aria-labelledby="${admin.getUid()}"
                                                         x-placement="bottom-start"
                                                         style="position: absolute; transform: translate3d(0px, 34px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                        <a class="dropdown-item" href="javascript:void(0)"
                                                           data-toggle="modal"
                                                           data-target=".bs-example-modal-center">显示动态
                                                        </a>
                                                        <a class="dropdown-item" href="javascript:void(0)"
                                                           th:if="${admin.getStatus() == 1}">锁定账户</a>
                                                        <a class="dropdown-item" href="javascript:void(0)"
                                                           th:if="${admin.getStatus() == 0}">解锁账户</a>
                                                        <a class="dropdown-item" href="javascript:void(0)">删除账户</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tbody th:if="${#lists.isEmpty(admins.getList())}">
                                        <tr>
                                            <td colspan="5">
                                                <p>暂无数据</p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="content-footer text-center">
                <div class="footer">
                    <div class="copyright">
                        <span>Copyright © 2018 MyBLOG2.0.1</span>
                    </div>
                </div>
            </footer>
        </div>

    </div>
</div>
<script th:src="@{/js/jquery-min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.app.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>