<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>网站管理</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/line-icons.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}">
</head>
<body>
<div class="app header-default side-nav-dark side-nav-folded" id="app">
    <div class="layout">
        <div class="header navbar">
            <div class="header-container">
                <div class="nav-logo">
                    <a href="index.html">
                        <b><img th:src="@{/img/logo.png}" alt=""></b>
                        <span class="logo">
                        <img th:src="@{/img/logo-text.png}" alt="">
                    </span>
                    </a>
                </div>
                <ul class="nav-left">
                    <li>
                        <a class="sidenav-fold-toggler" href="javascript:void(0);">
                            <i class="lni-menu"></i>
                        </a>
                        <a class="sidenav-expand-toggler" href="javascript:void(0);">
                            <i class="lni-menu"></i>
                        </a>
                    </li>
                </ul>
                <ul class="nav-right">
                    <!--显示用户信息-->
                    <li class="user-profile dropdown dropdown-animated scale-left">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="data2">
                            <img class="profile-img img-fluid" th:src="@{/File/defult.png}" alt="">
                        </a>
                        <ul class="dropdown-menu dropdown-md">
                            <li>
                                <ul class="list-media">
                                    <li class="list-item avatar-info">
                                        <div class="media-img">
                                            <img th:src="@{${message.getImg()}}" alt="">
                                        </div>
                                        <div class="info">
                                            <span class="title text-semibold" th:text="${message.getUserName()}"></span>
                                            <span class="sub-title" th:text="${'创建时间：'+#dates.format(message.getCreatedTime(),'yyyy/MM/dd')}"></span>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a th:href="@{/logout}">
                                    <i class="lni-lock"></i>
                                    <span>注销</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="side-nav expand-lg">
            <div class="side-nav-inner">
                <ul class="side-nav-menu">
                    <li class="side-nav-header">
                        <span>网站导航栏</span>
                    </li>
                    <li class="nav-item dropdown open">
                        <a href="#" class="dropdown-toggle">
                            <span class="icon-holder">
                                <i class="lni-dashboard"></i>
                             </span>
                            <span class="title">网站信息</span>
                            <span class="arrow">
                                <i class="lni-chevron-right"></i>
                            </span>
                        </a>
                        <ul class="dropdown-menu sub-down">
                            <li class="active">
                                <a th:href="@{/admin/index}">主页</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="#">
                             <span class="icon-holder">
                                 <i class="lni-files"></i>
                             </span>
                            <span class="title">账号管理</span>
                            <span class="arrow">
                                 <i class="lni-chevron-right"></i>
                             </span>
                        </a>
                        <ul class="dropdown-menu sub-down">
                            <li>
                                <a th:href="@{'/admin/userAccountManagement?pageNum=1'}">普通账号管理</a>
                            </li>
                            <li>
                                <a th:href="@{'/admin/adminAccountManagement?pageNum=1'}">管理员账号管理</a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="#">
                            <span class="icon-holder">
                               <i class="lni-control-panel"></i>
                            </span>
                            <span class="title">文章管理</span>
                            <span class="arrow">
                                <i class="lni-chevron-right"></i>
                            </span>
                        </a>
                        <ul class="dropdown-menu sub-down">
                            <li>
                                <a th:href="@{${'/admin/articleManagement?pageNum=1'}}">文章管理</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="#">
                            <span class="icon-holder">
                               <i class="lni-control-panel"></i>
                            </span>
                            <span class="title">第三方管理工具</span>
                            <span class="arrow">
                                <i class="lni-chevron-right"></i>
                            </span>
                        </a>
                        <ul class="dropdown-menu sub-down">
                            <li>
                                <a th:href="@{'http://sms_developer.zhenzikj.com/zhenzisms_user/login.html'}"
                                   target="_blank">短信平台</a>
                            </li>
                            <li>
                                <a th:href="@{'http://localhost:8088/druid/index'}" target="_blank">Druid连接池</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="page-container">
            <div class="main-content">
                <div class="container-fluid">
                    <div class="breadcrumb-wrapper row">
                        <div class="col-12 col-lg-3 col-md-6">
                            <h4 class="page-title">网站信息统计</h4>
                        </div>
                    </div>
                </div>
                <div class="container-fluid text-center">
                    <h2>
                        欢迎来到网站管理系统
                    </h2>
                </div>

            </div>
            <footer class="content-footer text-center">
                <div class="footer">
                    <div class="copyright">
                        <span>Copyright © 2018 MyBLOG2.0.1</span>
                    </div>
                </div>
            </footer>
        </div>

    </div>
</div>
<script th:src="@{/js/jquery-min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.app.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
<!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban -->
</html>