<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>文章管理</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/line-icons.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/icons.css}">
    <link rel="stylesheet" th:href="@{/plugins/morris/morris.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}">
</head>
<body>
<div id="data" class="layout">
    <div class="header navbar">
        <div class="header-container">
            <div class="nav-logo">
                <a th:href="@{/}">
                    <b><img th:src="@{/img/logo.png}" alt=""></b>
                    <span class="logo">
                    <img th:src="@{/img/logo-text.png}" alt="">
                            </span>
                </a>
            </div>
            <ul class="nav-right">
                <!--显示用户信息-->
                <li class="user-profile dropdown dropdown-animated scale-left">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="data2">
                        <img class="profile-img img-fluid" th:src="@{/File/defult.png}" alt="">
                    </a>
                    <ul class="dropdown-menu dropdown-md">
                        <li>
                            <ul class="list-media">
                                <li class="list-item avatar-info">
                                    <div class="media-img">
                                        <img th:src="@{/File/defult.png}" alt="">
                                    </div>
                                    <div class="info">
                                        <span class="title text-semibold" th:text="${message.getUserName()}"></span>
                                        <span class="sub-title"
                                              th:text="${'加入时间：'+#strings.substring(message.getCreatedTime(),0,10)}"></span>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a th:href="@{'/personalCenter/'+${message.getUid()}}">
                                <i class="lni-user"></i>
                                <span>个人中心</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="lni-cog"></i>
                                <span>更改个人信息</span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{'/user/Article/'+${message.getUid()}}">
                                <i class="lni-envelope"></i>
                                <span>管理文章</span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/logout}">
                                <i class="lni-lock"></i>
                                <span>注销</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <br><br><br><br>
    <div class="container-fluid" style="width: 80%;">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header border-bottom">
                        <h4 class="card-title">文章管理界面</h4>
                    </div>
                    <div class="card-body">
                        <div class="tab-info">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a href="#all" class="nav-link active" role="tab" data-toggle="tab">全部文章</a>
                                </li>
                                <li class="nav-item" th:each="category : ${categories}">
                                    <a th:href="'#'+${category.getID()}" class="nav-link" role="tab" data-toggle="tab"
                                       th:text="${category.getName()}"></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="modal" data-target=".bs-example-modal-center"><i
                                            class="fa fa-plus"></i></a>
                                    <div class="modal fade bs-example-modal-center" tabindex="-1" role="dialog"
                                         aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;"
                                         id="modal">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">新增文章分类</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">×
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form id="form">
                                                        <input class="form-control" name="category"
                                                               placeholder="请输入分类名（8个字符以内）" required>
                                                        <input name="Uid" th:value="${message.getUid()}" hidden>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-common" id="addCategory">提交
                                                    </button>
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">取消
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="all">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-bordered mb-0">
                                                    <thead>
                                                    <tr>
                                                        <th>创建时间</th>
                                                        <th>标题</th>
                                                        <th>作者</th>
                                                        <th>操作</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:if="${#lists.isEmpty(allArticle)}">
                                                        <td class="text-center" colspan="4">
                                                            还没有文章吗？快<a
                                                                th:href="@{'/user/Article/'+${message.getUid()}+'/editArticle/new'}"
                                                                style="color: #a6e1ec">创建一个</a>吧！
                                                        </td>
                                                    </tr>
                                                    <tr th:each="article : ${allArticle}"
                                                        th:unless="${#lists.isEmpty(allArticle)}">
                                                        <th>
                                                            <span th:text="${#dates.format(article.getCreatedTime(),'yyyy/MM/dd HH:mm')}"></span>
                                                        </th>
                                                        <td>
                                                            <span th:text="${article.getTitle()}"></span>
                                                        </td>
                                                        <td>
                                                            <span th:text="${message.getUserName()}"></span>
                                                        </td>
                                                        <td>
                                                            <div class="m-0">
                                                                <button type="button"
                                                                        class="btn btn-primary dropdown-toggle"
                                                                        th:id="${article.getID()}"
                                                                        data-toggle="dropdown" aria-haspopup="true"
                                                                        aria-expanded="false">选择项目
                                                                </button>
                                                                <div class="dropdown-menu"
                                                                     th:aria-labelledby="${article.getID()}">
                                                                    <a class="dropdown-item"
                                                                       th:href="@{'/user/Article/'+${message.getUid()}+'/editArticle/'+${article.getID()}}">
                                                                        编辑文章
                                                                    </a>
                                                                    <a class="dropdown-item"
                                                                       href="javascript:void(0)">禁止评论 </a>
                                                                    <a class="dropdown-item"
                                                                       href="javascript:void(0)">允许评论 </a>
                                                                    <div class="dropdown-divider"></div>
                                                                    <a class="dropdown-item"
                                                                       href="javascript:void(0)">删除文章</a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr th:unless="${#lists.isEmpty(allArticle)}">
                                                        <td class="text-center" colspan="4">
                                                            <a th:href="@{'/user/Article/'+${message.getUid()}+'/editArticle/new'}"
                                                               style="color: #a6e1ec">新建文章</a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" th:each="category : ${categories}"
                                     th:id="${category.getID()}">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-bordered mb-0">
                                                    <thead>
                                                    <tr>
                                                        <th>创建时间</th>
                                                        <th>标题</th>
                                                        <th>作者</th>
                                                        <th>操作</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:if="${#lists.isEmpty(category.getArticles())}">
                                                        <td class="text-center" colspan="4">
                                                            还没有文章吗？快<a
                                                                th:href="@{'/user/Article/'+${message.getUid()}+'/editArticle/new'}"
                                                                style="color: #a6e1ec">创建一个</a>吧！
                                                        </td>
                                                    </tr>
                                                    <tr th:each="article : ${category.getArticles()}"
                                                        th:unless="${#lists.isEmpty(category.getArticles())}">
                                                        <th>
                                                            <span th:text="${#dates.format(article.getCreatedTime(),'yyyy/MM/dd HH:mm')}"></span>
                                                        </th>
                                                        <td>
                                                            <span th:text="${article.getTitle()}"></span>
                                                        </td>
                                                        <td>
                                                            <span th:text="${message.getUserName()}"></span>
                                                        </td>
                                                        <td>
                                                            <div class="m-0">
                                                                <button type="button"
                                                                        class="btn btn-primary dropdown-toggle"
                                                                        th:id="${article.getID()}"
                                                                        data-toggle="dropdown" aria-haspopup="true"
                                                                        aria-expanded="false">选择项目
                                                                </button>
                                                                <div class="dropdown-menu"
                                                                     th:aria-labelledby="${article.getID()}">
                                                                    <a class="dropdown-item"
                                                                       th:href="@{'/user/Article/'+${message.getUid()}+'/editArticle/'+${article.getID()}}">
                                                                        编辑文章
                                                                    </a>
                                                                    <a class="dropdown-item"
                                                                       href="javascript:void(0)">禁止评论 </a>
                                                                    <a class="dropdown-item"
                                                                       href="javascript:void(0)">允许评论 </a>
                                                                    <div class="dropdown-divider"></div>
                                                                    <a class="dropdown-item"
                                                                       href="javascript:void(0)">删除文章</a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                    <tr th:unless="${#lists.isEmpty(category.getArticles())}">
                                                        <td class="text-center" colspan="4">
                                                            <a th:href="@{'/user/Article/'+${message.getUid()}+'/editArticle/new'}"
                                                                style="color: #a6e1ec">新建文章</a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery-min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.app.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/plugins/morris/morris.min.js}"></script>
<script th:src="@{/plugins/raphael/raphael-min.js}"></script>
<script th:src="@{/js/dashborad1.js}"></script>
<script>
    $(document).ready(function () {
        $("#addCategory").click(function () {
                var data = $("#form").serialize();
                $.ajax({
                    url: "/Form/addCategory",
                    data: data,
                    success: function (message) {
                        alert(message);
                        $("#modal").modal('hide');
                    },
                    error: function (xhr) {
                        alert("出现错误：" + xhr.status)
                    }
                })
            }
        )
    })
</script>
</body>
</html>